* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Hind';
  color: #4F4F4F;
  font-weight: 300;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.02em;
}

.container {
  background-image: url('./img/background.png');
  background-repeat: no-repeat;
  background-position: 80% 0;
  margin: 0 auto;
  max-width: 1440px;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rubik';
  color: #090F3F;
  font-weight: 500;
  font-size: 48px;
  line-height: 120%;
  letter-spacing: 0.02em;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

@media (max-width: 500px) {
  .container {
    background-image: url('./img/maskGroup.png');
    background-repeat: no-repeat;
    background-position: 100% 0%;
    background-size: 100%;
  }
}